/* responsive food ordering webpage */
/* box model, css flexbox, css animations */


/* box model
    border => thickness, style, color
    padding
    margin
*/
*{
    margin: 0;
    padding: 0;
}
:root{
    --navbar-height: 69px;

}
#navbar{
    position: relative;
    display: flex;
    align-items: center;
}
#logo{
    margin: 10px 35px;

}
#logo img{
    margin: 3px 7px;
    height: 70px;
    width: 83px;
}
#navbar ul{
    display: flex;
}
#navbar::before{
    content: "";
    background-color: black;
    /* background-color: white; */
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    /* opacity: 0.5; */
}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 25px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3rem;
}

#navbar ul li a:hover{
   color: black;
   background-color: white;
    
}
#home{
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    padding: 3px 150px;
    justify-content: center;
    align-items: center;
    height: 840px;
}

#home::before{
    content: "";
    position: absolute;
    background: url('bg2.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100% ;
    z-index: -1;
    opacity: 0.97;
    
}

.h-primary{
    font-size: 3.9rem;
    padding: 25px;
    margin-top: 0px;

    
}

#head h1{
    text-align: center;
    font-size: 3rem;
    margin: 20px;
    color: red;
}
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: rgb(0, 255, 98);
    color: rgb(12, 7, 7);
    margin: 17px;
    font-size: 1.0rem;
    border-radius: 12px;
    cursor: pointer;
}
.btn:hover{
        background-color: rgb(255, 255, 190);
        color: black;
    }
#home h1{
    color: white;
    text-align: center;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;

}
.card h4{
    color: red;
}
.card{
    transition: .2s;
    border: 1px solid lightgray;
    width: 260px;
    padding:  10px;
    margin: 10px;
    border-radius: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.card:hover{
    transform: scale(1);
    width: 290px;
    border-radius: 20px;
    border: 1px solid rgb(255, 4, 4);
    box-shadow: 10px 8px 16px 8spx #000000;
}
.card-img{
    width: 100%;
    border-radius: 14px;
}
.flexbox{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.bg-pr-yellow-200{
    background-color: rgb(255, 255, 212);
    align-items: center;
    text-align: center;
}
.space-y-5 pt-4 md:space-y-7 md:px-4 lg:px-8{
    text-align: center;
    align-items: center;
}

.footer{
    background-color: black;
    color: white;
    display: flex;
    height: 200px;
    padding: 25px 82px;
    justify-content: space-evenly;
    font-size: 1.1rem;
  }
  .footer ul{
    list-style: none;
    cursor: pointer;
    

  }
  .footer div{
    width: 323px;
  }
  .footer-right{
  text-align: center;
  background-color: #000000;
  color:  rgb(255, 255, 255);
  padding:12px 0px;
  font-size: 1.1rem;
  }

  .footer-first {
    flex: 1;
    text-align: center;
  }
  
  .footer-first img {
    width: 200px;
    height: 150px;
    padding-left: 5px;
    margin-bottom: 20px;
  }



   /* footer */
  
   /* .footer {
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
  }
  
  .footer p {
    color: #8a8a8a;
  }
  
  .footer h3 {
    color: #ffffff;
    margin-bottom: 20px;
  }
  
  .footer-col-1,
  .footer-col-2,
  .footer-col-3,
  .footer-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
  }
  
  .footer-col-1 {
    flex-basis: 30%;
  }
  
  .footer-col-2 {
    flex: 1;
    text-align: center;
  }
  
  .footer-col-2 img {
    width: 180px;
    margin-bottom: 20px;
  }
  
  .footer-col-3,
  .footer-col-4 {
    flex-basis: 12%;
    text-align: center;
  }
  
  ul {
    display: inline-block;
    list-style-type: none;
  }
  
  .app-logo {
    margin-top: 20px;
  }
  .app-logo img {
    width: 140px;
  }
  
  .footer hr {
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
  }
  
  .copyright {
    text-align: center;
  }
  
  .menu-icon {
    width: 28px;
    margin-left: 20px;
    display: none;
  }
   */